{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
<link rel="icon" type="image/png" href="{% static 'images/logo/arisa-logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}هتل آریسا{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&family=Noto+Sans+Arabic:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% block extra_css %}{% endblock %}
   </head>
<body>
    {% include 'partials/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}
<script>
    const siteHeader = document.querySelector('.site-header');
    window.addEventListener('scroll', () => {
        siteHeader.classList.toggle('scrolled', window.scrollY > 40);
    });
</script>
</body>
</html>